language: c
include:
  # cross-compile using mingw 
  - compiler: ": w32"
    env: PLATFORM="mingw32" ARCH="x86" BITSIZE=32 HOST="i686"

install:
 - sudo apt-get update -qq
 - sudo apt-get install mingw32-binutils mingw32 mingw32-runtime -y -qq 
 - curl -R -O http://www.lua.org/ftp/lua-5.3.0.tar.gz
 - tar zxf lua-5.3.0.tar.gz
 - pushd lua-5.3.0
 - make linux test
 - sudo make install
 - popd
 - mkdir -p dll

script:
 - make

